## Exercise: Pandas

In [1]:
import pandas as pd

## Question 1

Given the UFO sightings data and the path for csv file, read the csv file from the URL

In [2]:
path ='http://bit.ly/uforeports'

use the read_csv to read the csv and assign to a variable called 'ufo'

In [3]:
#read csv
ufo = pd.read_csv(path)

In [4]:
#show the top 5 rows of data
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
#show the last 10 rows of data
ufo.tail(10)

                 City Colors Reported Shape Reported State              Time
18231     Pismo Beach             NaN           OVAL    CA  12/31/2000 20:00
18232            Lodi             NaN            NaN    WI  12/31/2000 20:30
18233       Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [8]:
#check the data type
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors Reported    2882 non-null object
Shape Reported     15597 non-null object
State              18241 non-null object
Time               18241 non-null object
dtypes: object(5)
memory usage: 712.6+ KB

In [11]:
#check the data type for 'Time' column
type(ufo["Time"])

pandas.core.series.Series

In [12]:
#show all rows for the column 'City'
ufo["City"]

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [13]:
#determine the shape of the data
ufo.shape

(18241, 5)

In [16]:
#show all data for 'City' that starts with 'E'
ufo[ufo['City'].str[0].isin(['E'])]

                   City Colors Reported Shape Reported State              Time
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
55             Espanola             NaN         CIRCLE    NM    6/1/1947 17:00
109           Excelsior             NaN         CIRCLE    MN    8/15/1949 0:00
140      East Palestine             NaN          LIGHT    OH   7/10/1950 20:30
179           Evergreen             NaN           DISK    CO    6/6/1952 13:00
200           Evergreen             NaN         CIRCLE    CO    7/7/1952 10:00
270          El Cerrito             NaN          LIGHT    CA    6/1/1954 19:00
276          Estes Park             NaN          CIGAR    CO   6/10/1954 20:00
280       Ellington AFB             NaN           DISK    TX   6/15/1954 16:30
340          Eagle Pass             NaN          CIGAR    TX    8/15/1955 0:01
355              Elmore             NaN         SPHERE    AL     6/5/1956 0:00
359               Edroy             NaN            NaN    TX    6/15/1956 1:00
377        East Hampton             NaN           DISK    CT    7/15/1956 0:00
387                Edna             NaN         CIRCLE    TX  10/10/1956 21:00
400             El Paso             NaN           DISK    TX    6/1/1957 10:00
401      E. Los Angeles             NaN          LIGHT    CA    6/1/1957 12:00
444              Exeter             NaN           DISK    NH   8/15/1957 21:00
452             El Paso             NaN           DISK    TX    9/15/1957 4:00
461             England             NaN           DISK    AR   10/15/1957 1:45
529         El Sobrante          YELLOW         CIRCLE    CA     5/5/1959 9:00
530            Evanston             NaN            NaN    IL    5/15/1959 4:00
609      East Bernstadt             NaN           DISK    KY   6/21/1960 14:00
683            Evendale             NaN            NaN    OH    8/30/1961 0:00
712        Ellwood City             NaN           DISK    PA    6/1/1962 12:00
738        East Windsor          ORANGE         CIRCLE    CT   7/15/1962 21:00
785             Emporia             NaN      RECTANGLE    KS   5/30/1963 17:30
823     East Vassalboro          ORANGE       TRIANGLE    ME    7/3/1963 21:00
824            Evanston             NaN           DISK    IL   7/10/1963 20:00
852    Engelwood Cliffs             NaN            NaN    NJ    11/1/1963 0:00
854          El Cerrito             NaN       FIREBALL    CA   1/10/1964 20:00
...                 ...             ...            ...   ...               ...
17652           Elverta        RED BLUE          LIGHT    CA  10/11/2000 22:00
17678          Elk City             NaN       FIREBALL    OK  10/13/2000 19:53
17679            Eugene             NaN          LIGHT    OR  10/13/2000 20:00
17684         Escondido             NaN            NaN    CA   10/14/2000 2:30
17716            Eureka          ORANGE          LIGHT    CA  10/17/2000 20:30
17732            Easley             NaN           DISK    SC  10/20/2000 20:00
17754            Elmira             NaN       CYLINDER    WA   10/23/2000 2:30
17807          Edgewood           GREEN       FIREBALL    WA  10/29/2000 17:20
17838            Elyria             NaN            NaN    OH  10/31/2000 19:00
17900            Eugene             NaN          LIGHT    OR   11/8/2000 22:30
17933         Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00
17936        Ellensburg             NaN            NaN    WA  11/14/2000 20:15
17938        Ellensburg             NaN        CHEVRON    WA  11/14/2000 21:00
17943      East Lansing             NaN        DIAMOND    MI  11/15/2000 14:00
17955         Eagletown             NaN         SPHERE    OK  11/16/2000 20:00
17957           Everett             NaN          OTHER    WA  11/16/2000 23:03
17976    East Brunswick             NaN       TEARDROP    NJ  11/19/2000 16:35
18008           El Paso             NaN          CIGAR    NM  11/23/2000 18:37
18023         Elizabeth             NaN         SPHERE    NJ   11/25/2000 1:25
18028        Ellisville             NaN       TRIANGLE    MS  11/25/2000 20:45
18037            Eugene             NaN         CIRCLE    OR   11/28/2000 2:14
18042             Edina          ORANGE         CIRCLE    MN  11/28/2000 21:30
18142        Estes Park             NaN        CHEVRON    CO  12/17/2000 18:15
18151        Enterprise             NaN           OVAL    AL  12/18/2000 18:45
18161    Elizabeth City             NaN        CHEVRON    NC  12/20/2000 17:00
18182        Evansville             NaN       FIREBALL    IN  12/24/2000 20:00
18215          El Campo             NaN          OTHER    TX   12/29/2000 9:00
18224           Eufaula             NaN           DISK    OK  12/29/2000 23:30
18238       Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239       Eagle River             RED          LIGHT    WI  12/31/2000 23:45

[557 rows x 5 columns]

In [30]:
# count number of reported cases for 'CIRCLE'
# and count the number of reported cases for 'LIGHT'
circle = ufo[ufo["Shape Reported"] == "CIRCLE"].count(axis = 0)
light = ufo[ufo["Shape Reported"] == "LIGHT"].count(axis =0)
print("Number of reported cases for CIRCLE:" ,circle["Shape Reported"])
print("Number of reported cases for LIGHT",light["Shape Reported"])

Number of reported cases for CIRCLE: 1365
Number of reported cases for LIGHT 2803

In [36]:
#determine what are the top three colors reported
count = ufo['Colors Reported'].value_counts()
count[:3]

RED       780
GREEN     531
ORANGE    528
Name: Colors Reported, dtype: int64

In [44]:
#count the number of shape reported by state and city
ufo.groupby(["State", "City"])["Shape Reported"].value_counts()

State  City                                                          Shape Reported
AK     Adak                                                          LIGHT             1
       Alaska                                                        DISK              1
                                                                     LIGHT             1
       Anchorage                                                     LIGHT             4
                                                                     DISK              3
                                                                     CIRCLE            2
                                                                     CYLINDER          1
                                                                     OVAL              1
                                                                     VARIOUS           1
       Arctic                                                        CIGAR             1
       Auke Bay                                                      LIGHT             2
       Bering Sea                                                    OTHER             1
       Bethel                                                        TRIANGLE          1
       Big Lake                                                      LIGHT             1
       Cantwell                                                      CIRCLE            1
       Chugiak                                                       RECTANGLE         1
       Cold Bay                                                      FIREBALL          1
       Copper Center                                                 FLASH             1
       Cordova                                                       DISK              1
       Delta Junction                                                CIGAR             1
       Douglas Island                                                SPHERE            1
       Eagle River                                                   LIGHT             1
                                                                     OVAL              1
       Eklutna                                                       CIGAR             1
       Elmendorf AFB                                                 DIAMOND           1
       Fairbanks                                                     CIGAR             2
                                                                     FORMATION         2
                                                                     OVAL              2
                                                                     DISK              1
                                                                     SPHERE            1
                                                                                      ..
WY     Green River                                                   SPHERE            1
       Guernsey                                                      SPHERE            1
       Interstate 80                                                 OTHER             1
       Jackson Hole                                                  LIGHT             1
       Lander                                                        LIGHT             1
       Laramie                                                       OTHER             2
                                                                     DISK              1
                                                                     FORMATION         1
                                                                     LIGHT             1
                                                                     VARIOUS           1
       Mammoth Hot Springs                                           CHEVRON           1
       Medicine Bow National Mountains, Medicine Bow National Fores  FLASH             1
       Medicine Bow Natl. Forest                                     TRIANGLE          1
       On highway; location unknown                                  OTHER             1
       Pine Haven                                                    EGG               1
       Pinedale                                                      DIAMOND           1
       Powell                                                        FIREBALL          1
       Rawlins                                                       DISK              1
                                                                     FIREBALL          1
       Riverton                                                      FIREBALL          1
                                                                     TRIANGLE          1
       Rock River                                                    DISK              1
       Rock Springs                                                  DISK              1
                                                                     FIREBALL          1
       Sheridan                                                      OTHER             1
       Ten Sleep                                                     DISK              1
       Wyoming                                                       CIGAR             1
                                                                     OTHER             1
       Yellowstone National Park                                     EGG               1
       Yellowstone Park                                              DISK              1
Name: Shape Reported, Length: 12264, dtype: int64

## Question 2

Given the IMDB movies dataset and path, use the read_csv to read the data and assign to a variable 'movies'

In [104]:
path2 = 'http://bit.ly/imdbratings'

In [105]:
#read the dataset
movie = pd.read_csv(path2)

In [57]:
#show the top 10 rows
movie.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

In [58]:
#show summary of the dataset
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null int64
actors_list       979 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [59]:
#determine the dimension of the dataset
movie.shape

(979, 6)

In [60]:
#show the data types for each coloumns
type_ = movie.dtypes
type_

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [64]:
#show all the column names
list(movie.columns)

['star_rating', 'title', 'content_rating', 'genre', 'duration', 'actors_list']

In [66]:
# rename the following columns, 'star_rating' as 'stars_rating'
# 'content_rating' as 'content' 

movie.rename(columns={"star_rating": "stars_rating", "content_rating": "content"})

,stars_rating,title,content,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [20]:
#given a list called 'col_names' change all the columns names to 'col_names'
col_names =[]
movie.columns = col_names

In [67]:
#provide the statistical summary for 'star_rating' and 'duration'

movie.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [73]:
#show the data type for column 'star_rating'
movie['star_rating'].dtype

dtype('float64')

In [80]:
#show the 5th row data for column 'content_rating'
movie["content_rating"].iloc[5:6]

5    NOT RATED
Name: content_rating, dtype: object

In [81]:
#show all rows for movies duration more than 200 mins
movie[movie["duration"] > 200]

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [82]:
#what is the average movie duration
movie["duration"].mean()

120.97957099080695

In [106]:
movie.actors_list.replace(['\[', 'u\'','\'\]'],'', regex=True, inplace=True)
movie.actors_list.replace('\',', ',', regex=True, inplace=True)

actors=pd.DataFrame(movie.actors_list.str.split(',').tolist(), columns = ['actor_1','actor_2','actor_3'])
#actors.head()
movie=pd.concat([movie, actors], axis=1)
movie.head()

,star_rating,title,content_rating,genre,duration,actors_list,actor_1,actor_2,actor_3
0,9.3,The Shawshank Redemption,R,Crime,142,"Tim Robbins, Morgan Freeman, Bob Gunton",Tim Robbins,Morgan Freeman,Bob Gunton
1,9.2,The Godfather,R,Crime,175,"Marlon Brando, Al Pacino, James Caan",Marlon Brando,Al Pacino,James Caan
2,9.1,The Godfather: Part II,R,Crime,200,"Al Pacino, Robert De Niro, Robert Duvall",Al Pacino,Robert De Niro,Robert Duvall
3,9.0,The Dark Knight,PG-13,Action,152,"Christian Bale, Heath Ledger, Aaron Eckhart",Christian Bale,Heath Ledger,Aaron Eckhart
4,8.9,Pulp Fiction,R,Crime,154,"John Travolta, Uma Thurman, Samuel L. Jackson",John Travolta,Uma Thurman,Samuel L. Jackson

In [108]:
#count the number of movies where actor 'Charlton Heston' acted in
movie[movie["actors_list"] == "Charles Heston"]
# Does not exits

Empty DataFrame
Columns: [star_rating, title, content_rating, genre, duration, actors_list, actor_1, actor_2, actor_3]
Index: []

In [86]:
#what are the top 5 genre movies
count = movie['genre'].value_counts()
count[:5]

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Name: genre, dtype: int64

In [89]:
#which movie has the highest rating
movie.loc[movie['star_rating'].idxmax()]

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [90]:
#which movie has the lowest rating
movie.loc[movie['star_rating'].idxmin()]

star_rating                                                     7.4
title                                               Man on the Moon
content_rating                                                    R
genre                                                     Biography
duration                                                        118
actors_list       [u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']
Name: 930, dtype: object

In [92]:
# group by genre and content rating and calculate the mean for duration

movie.groupby(["genre", "content_rating"])["duration"].mean()

genre      content_rating
Action     APPROVED          143.333333
           G                 178.000000
           GP                144.000000
           NOT RATED         129.500000
           PASSED             98.000000
           PG                119.727273
           PG-13             130.204545
           R                 123.850746
           UNRATED           110.666667
Adventure  APPROVED          158.333333
           G                 162.000000
           NOT RATED         113.200000
           PASSED            102.000000
           PG                133.952381
           PG-13             143.913043
           R                 124.882353
           UNRATED           136.000000
Animation  APPROVED           84.666667
           G                  93.150000
           NOT RATED          91.000000
           PG                 99.360000
           PG-13             104.200000
           R                 101.000000
           UNRATED            89.000000
Biography  APPROVED          111.000000
           G                 143.000000
           GP                172.000000
           NOT RATED          96.000000
           PG                126.000000
           PG-13             133.241379
                                ...
Film-Noir  APPROVED           88.000000
           NOT RATED          93.000000
           UNRATED           111.000000
History    UNRATED            66.000000
Horror     APPROVED           82.500000
           NC-17              85.000000
           NOT RATED          75.000000
           PG                114.000000
           PG-13             111.500000
           R                 108.062500
           UNRATED            98.000000
           X                  92.000000
Mystery    APPROVED          118.000000
           G                 160.000000
           NOT RATED         130.000000
           PG                138.000000
           PG-13              99.000000
           R                 111.000000
           UNRATED            86.000000
Sci-Fi     APPROVED           92.000000
           PG-13              91.000000
           R                 120.666667
Thriller   APPROVED          108.000000
           PG                120.000000
           R                 114.333333
Western    APPROVED          132.000000
           NOT RATED         151.000000
           PG                110.000000
           PG-13             175.000000
           R                 133.666667
Name: duration, Length: 95, dtype: float64